/* ### general ### */
* { margin: 0px; padding: 0px; }
html, body { font-family: Arial; font-size: 12px; color: #383838; }
input, select, textarea { font-family: Arial; font-size: 12px; color: #383838; }
body { background: #393939; }
img { border: 0px; display: block; }
a, input { outline: none; }
fieldset {border:none;}

/* ### global classes ### */
.clear { clear: both; height: 0; }
#content60 {float: left; width: 480px; height: auto; padding: 10px; overflow: hidden; }
#content80 { width: 590px; padding-top: 14px; height: auto; overflow: hidden; }
#content100 { width: 800px; padding-top: 14px; min-height: 530px; overflow: hidden; }

/* ### wrapper ### */
#wrapper { position: relative; display: block; width: 100%; min-height: 100%; }

/* ### main container ### */
#mainCntr { margin: 0 auto; width: 908px; }

	/* ### header container ### */
	#headerCntr { position: relative; width: 908px; height: 414px; z-index: 100; }
	#headerCntr a.logo { position: absolute; top: 14px; left: 26px; display: block; width: 283px; height: 48px; text-indent: -9999px; background: url('../images/logo.png') no-repeat; }
	#headerCntr img.pic { position: absolute; top: 80px; right: 47px; z-index: 200; }
	
	/* ### flag box ### */
	.flagBox { position: absolute; top: 24px; right: 21px; }
	.flagBox ul { list-style: none; overflow: hidden; }
	.flagBox li { float: left; margin-left: 4px; } 
	.flagBox li a img { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	    filter: gray; /* IE6-9 */ -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }
	.flagBox li a:hover img, .flagBox li.actve a img {  filter: none; -webkit-filter: grayscale(0%);}	
	.mod-languages ul.lang-inline li.lang-active img {	filter: none; -webkit-filter: grayscale(0%);}
		
		/* ### banner box ### */
		.bannerBox { position: absolute; top: 63px; left: 0; background: url('../images/banner_bg.png') no-repeat; width: 904px; height: 347px; padding: 4px 0 0 4px; }
		.bannerBox #slider { width: 900px; height: 301px; }
		.bannerBox ul { list-style: none; width: 900px; height: 301px; }
		.bannerBox li { float: left; width: 900px; height: 301px; }
		
		/* ### menu box ### */
		.menuBox { position: absolute; top: 357px; left: 22px; }
		.menuBox ul { list-style: none; }
		.menuBox li { float: left; font-size: 24px; font-family: 'Forelle'; margin-right: 5px; }
		.menuBox li a { color: #383838; display: block; text-decoration: none; padding-left: 15px; }
		.menuBox li a span { display: block; padding-right: 15px; line-height: 68px; }
		.menuBox li a:hover, .menuBox li.active a { background: url('../images/menu_hover_left.png') no-repeat; color: #ebebeb; }
		.menuBox li a:hover span, .menuBox li.active a span { background: url('../images/menu_hover_right.png') no-repeat right 0; }
	
	/* ### content container ### */
	#contentCntr { overflow: hidden; width: 908px; background: url('../images/content_bg.png') repeat-y; }
	#contentCntr .inner { margin: 0 4px; position: relative; padding: 0 15px 0 30px; overflow: hidden; }
	#contentCntr .inner .bg { position: absolute; bottom: 0; left: 0; z-index: 1; }
	#contentCntr .bgRepeat { overflow: hidden; position: relative; z-index: 2; background: url('../images/photo_bg.png') repeat-y 606px 0; }
	
		/* ### left container ### */
		#leftCntr { float: left; width: 605px; position: relative;}
		
		/* ### accommodation box ### */
		.accommodationBox { width: 590px; padding-top: 14px; }
	    .accommodationBox h2 {	background: url("../images/img1.png") no-repeat scroll 0 0 transparent;color: #3D3D3D;color: #383838; font-size: 48px; font-weight: normal; font-family: 'Forelle'; padding-bottom: 7px;padding-bottom: 10px;padding-left: 58px;padding-top: 6px; vertical-align: middle; }
		.accommodationBox p { color: #383838; text-align: justify; padding-bottom: 14px; }
		
		/* ### right container ### */
		#rightCntr { float: right; width: 249px; position: relative; }
		
			/* ### photo box ### */
			.photoBox { width: 249px; padding-bottom: 12px; }
			.photoBox ul { list-style: none; padding: 20px 0 0 14px; overflow: hidden; }
			.photoBox li { margin-bottom: 16px; }
	
	/* ### footer container ### */
	#footerCntr { overflow: hidden; width: 908px; background: url('../images/footer_bg.png') no-repeat; height: 114px; }
	#footerCntr ul { list-style: none; overflow: hidden; padding-left: 14px; }
	#footerCntr li { float: left; line-height: 49px; padding: 0 31px 0 17px; font-size: 25px; font-family: 'Forelle'; color: #ebebeb; background: url('../images/footer_sep.png') no-repeat right 0; }
	#footerCntr li.last { background: none; }
	#footerCntr li a { color: #ebebeb; text-decoration: none; }
	#footerCntr li a:hover { text-decoration: underline; }
	#footerCntr p { padding-top: 15px; color: #ebebeb; font-size: 10px; text-align: center; }
	#footerCntr p span { padding: 0 2px; }